.todo-container {
  width: 1170px;
  margin: 50px auto;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.todo-title {
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(to right, #ff00dd, #7effbd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.todo-row {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.todo-input {
  width: 350px;
}
.btn-add {
  min-width: 50px;
}

.todo-data {
  margin: 20px auto;
  width: 80%;
  border: 1px solid #e0d9d9;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
}

/** logo */
.logo {
  height: 16em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
